<div class="logoImg">
  <img src="images/logoPerreApp.png" alt="PerreApp Logo" width="auto" height="600px">
</div>

<div class="buttonIndex">
  <form action="/auth/login" method="POST" id="form-container">
    <input class="button" type="submit" value="LOGIN">


  </form>

  <form action="/auth/signup" method="POST" id="form-container">

    <input class="button" type="submit" value="SIGNUP">


  </form>

</div>

<ul class="colorlib-bubbles">
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
  <li></li>
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
  <li></li>
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
</ul>
</div>