<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="logoImg">
  <img src="images/logoPerreApp.png" alt="PerreApp Logo" width="auto">
</div>

<div class="buttonIndex">
  <a href="/auth/login" class="btn">Login</a>
  <a href="/auth/signup" class="btn">Sign up</a>
</div>
<ul class="colorlib-bubbles">
  {{!-- <img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""> --}}
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div>