<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="logoImg">
  <img src="images/logoPerreApp.png" alt="PerreApp Logo" width="auto" height="600px">
</div>

<div class="buttonIndex">
  <form id="form-container">
    <a href="/auth/login"><input type="button" class="button" value="LOGIN"></a>


  </form>

  <form id="form-container">

    <a href="/auth/signup"><input type="button" class="button" value="SIGNUP"></a


  </form>

</div>

<ul class="colorlib-bubbles">
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
  <li></li>
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
  <li></li>
  <li><img src="https://media.giphy.com/media/LXtjHzZjC5WLu/giphy.gif" alt=""></li>
  <li></li>
</ul>
</div>