<p>Hello {{this.username}}, welcome to hell</p> <br><br>


<h1>Dashboard</h1>

<h2>Lista de usuarios</h2>

<div id="users">
  {{!-- <form action="">
    <input type="search" placeholder="Busca un alumno..."><button>Añadir</button>
  </form> --}}
  <p>Ver grupo:</p>
  <select id="group-menu">
    <option value="">Elige un grupo para mostrar</option>
    <option value="webmad0419">webmad0419</option>
    <option value="webmad0619">webmad0619</option>
    <option value="webmad0819">webmad0819</option>
    <option value="webmad1019">webmad1019</option>
  </select>
  <ul id="users-list">

  </ul>
</div>


<a href="/user/edit/{{this._id}}">Edit Profile</a>

{{!-- <ul id="options">
  <li class="new option">
     <input type="text" id="new-option-name">
     <span class="add" title="Add to list"><i class="fas fa-plus-circle fa-sm"></i></span>
     <span class="delete" title="Cancel"><i class="fas fa-times-circle fa-sm"></i></span><br>
     <span class="validation-text">This item is already in the list.</span>
  </li>
</ul>
<br>
<input type="reset">
<button title="Save items in list">Save</button><input type="checkbox" name="chkUpdateListItems"><label for="chkUpdateListItems">Update list items to reflect new names?</label> --}}