/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body
{
    font-family: arial;
}
ol, ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(/images/wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif; 
}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#trivia {
    width: 100%;
    text-align: center;
    font-family: 'Roboto' cursive;
    font-size: 1.2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
}
#trivia button {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 7.5px;
    -webkit-appearance: none;
    width: 100%;
    margin: 0.5em 0;
    letter-spacing: 4px;
}


.container {
    width: 90%;
}

.rlt-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.user-photo {
    width: 300px;
    margin: 10px 0;
}